{% extends 'glowny.html' %}

{% block tytul %} Potwierdź usuń jednostkę organizacyjną {% endblock %}

{% block strona %}

    <div class="card" style="width: 26rem;">
      <div class="card-body">
          <h5 class="card-title">Czy na pewno chcesz usunąć jednostkę : {{ jednostka_organizacyjna.nazwa }} ({{ jednostka_organizacyjna.miejscowosc }}) ?</h5>
          <form method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Usuń jendostke <i class="far fa-2x fa-trash-alt"></i></button>
          </form>
      </div>
    </div>

    <a href="{% url 'wszystkie_jednostki' %}"><i class="fas fa-2x fa-angle-double-left"></i></a> Cofnij

{% endblock %}